<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>

<body>
    <form action="/reg" method="post">

        <p>Логин</p>
        <input name="login" type="text">
        <p>Пароль</p>
        <input name="pass" type="text">
        <p>Напишите область , в который вы проффесионал</p>
        <input name="proff" type="text">
        <p>Напишите область которую хотите изучить</p>
        <input name="study" type="text">

        <input type="submit">
    </form>

</body>

</html>
